.navegacionDePagina {
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 70%;
    height: 3.5em;
    justify-content: flex-start;
    margin-left: -3.5em;   
}

#tituloPagina{
    font-size: 250%;
    font-family: ShadowsIntoLight;
    color: #D9DDE5;
    margin-top: 0.7em;
}

@media screen and (max-width: 480px) {
    #tituloPagina {
        font-size: 140%;
        margin-top: 0em;
        margin-left: auto;
    }
}